.UniversalTable {
  max-height: 75vh;
  overflow-y: scroll; /* Скроллинг останется функциональным */
  border-radius: 8px;
  margin: 0 auto;
  min-width: 100%;
  table {
    width: 100%;
    border-collapse: collapse; /* Убирает отступы между ячейками */
    min-height: auto;
    border-radius: 8px;
    min-height: 100px;  
    overflow-x: scroll;
    font-size: 16px;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--GrenColor); // Убедитесь, что эта переменная определена в colors.scss
      th {
        position: relative;
        align-items: center;
        padding: 10px;
        text-align: center;
        z-index: 10;
        border-bottom: 2px solid #ccc; /* Горизонтальная линия под заголовком */
        color: #ffffff;
        &:nth-child(1) {
          border-radius: 8px 0 0 0;
        }
        &:last-child {
          border-radius: 0 8px 0 0;
        }
      }
    }

    tbody {
      tr {
        transition: background-color 0.3s; /* Плавный переход цвета при наведении */
        border-bottom: 1px solid #e0e0e0; /* Горизонтальные линии между строками */
      }
      tr {
        &:hover td {
          background-color: var(--TableColorMouse) !important;
          cursor: pointer;
        }
      }
      td {
        padding: 10px;
        align-items: center;
        text-align: center;
        background-color: #f7f7f7;
      }
    }

    .imgTable {
      width: 150px;
      height: 150px;
      transition: 0.1s all linear;
      &:hover {
        opacity: 0.4;
      }
    }
  }
  .status {
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.08s linear all;
    &:hover{
      opacity: 0.6;
    }
  }
  .setectedTr td {
    background-color: var(--TableSelectedTr) !important;
  }
  .infoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
    }
  }
  .info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--GrenColor);
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    transition: 0.1s all linear;
    &:hover{
      background-color: var(--GrenColorHover);
    }
    &:active{
      background-color: var(--GrenColorActive);
    }
  }
}
.tableNotData {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--GrayColorInput);
  width: 1436px;
  position: absolute;
  pointer-events: none;  
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background-color: transparent !important; /* Убираем фон трека скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Цвет ползунка */
  border-radius: 4px; /* Закругление ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Цвет ползунка при наведении */
}
.CheckListContainer{
  position: relative;
  .statusList{
    position: absolute;
    left: -100px;
    top: 0px;
    width: 100px;
    z-index: 10;
    height: 160px;
    background-color: #fff;
    border-radius: 8px;
    text-align: start;
    list-style: none;
    li{
      padding: 5px 10px;
      &:hover{
        cursor: pointer;
        background-color: var(--TableColorMouse);
      }
    }
  }
}
.RoleClicker{
  padding: 3px 0px;
  background-color: var(--GrenColor);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.1s all linear;
  &:hover{
    background-color: var(--GrenColorHover);
  }
  &:active{
    background-color: var(--GrenColorActive);
  }
}