:root {
  --Orange: #f79e4a; //ff9800
  --OrangeHover: #ff9800; //db8e1c
  --ExampleColor: #f7f7f7;
  --BlueColor: #007aa1;
  --BlueColorHover: #02526b;
  --BlueColorActive: #014356;
  --GrayColorInput: #989898;
  --RedColor: #b20707;
  --GrayColorButtonHover: #1a7d781a;
  --GrayColorButtonActive: #1a7d7840;
  --bg: #f5f6f7;
  --bg2: #ecf0ff;
  --blue: #007aa1;
  --blueText: #170f49;
}
