:root {
    --Orange: #f79e4a;//ff9800
    --ExampleColor: #f7f7f7;
    --BlueColor: #007AA1;
    --BlueColorHover: #02526B;
    --BlueColorActive: #014356;
    --GrayColorInput: #989898;
    --RedColor:#B20707;
    --GrayColorButtonHover: #1A7D781A;
    --GrayColorButtonActive: #1A7D7840;
}