@import "./../../../styles/colors.scss";

// Общие стили
body {
    font-family: Arial, sans-serif;
  }
  
  // Задний фон с блюром
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
    &__content {
      background: #fff;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      width: 100%;
      max-width: 400px;
      position: relative;
    }
  
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 28px;
      cursor: pointer;
      transition: 0.1s all linear;
      &:hover {
          color: var(--GrenColor);
      }
    }
  
    &__title {
      margin-bottom: 20px;
      font-size: 1.5rem;
      text-align: start;
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
    }
  
    &__input,
    &__textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      font-size: 1rem;
      width: 100%;
      box-sizing: border-box;
    }
  
    &__textarea {
      resize: none;
      height: 100px;
    }
  
    &__file__wrapper {
      position: relative;
    }
  
    &__file__input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  
    &__file__custom {
      display: block;
      padding: 8px;
      border: 1px solid var(--GrenColor);
      border-radius: 4px;
      background-color: #f9f9f9;
      cursor: pointer;
      text-align: center;
      transition: 0.1s all linear;
    }
  
    &__submit {
      padding: 10px;
      background: var(--GrenColor);
      color: #fff;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1rem;
  
      &:hover {
        background: var(--GrenColorHover);
      }
  
      &:active {
        background: var(--GrenColorActive);
      }
    }
  }
  