@import "./../../styles/mixin.scss";

.ModalAddOfice {
  @include PopupBlur;

  .container {
    @include FormContainer;
    padding: 50px 30px;
    height: max-content;
    box-sizing: border-box;
    margin-top: 100px;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    @include ScrollBar;
    h2 {
      margin-bottom: 60px;
    }
    .form {
      display: flex;
      flex-wrap: wrap;
      width: 810px;
      justify-content: space-between;
    }
    .input_box {
      width: 380px;
      .name {
        display: flex;
        padding-bottom: 18px;
        font-weight: 500;
        font-size: 18px;
        color: var(--blueText);
      }
      .input {
        @include InputBox2;
        transition: all 0.15s linear;
        position: relative;
        box-sizing: border-box;

        textarea {
          resize: none;
          height: 100px;
          padding: 20px;
          border: none;
          outline: none;
          color: var(--blueText);
          font-weight: 400;
          font-size: 18px;
          width: calc(100% - 40px);
          @include ScrollBar;
          border-radius: 12px;
        }

        input {
          color: var(--blueText);
          font-weight: 400;
          font-size: 18px;
        }

        .file {
          padding: 20px;
          cursor: pointer;
          overflow-y: auto;
          height: 25px;
          @include ScrollBar;
        }

        input[type="file"] {
          display: none;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        border: 1px solid #eff0f6;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        position: absolute;
        background-color: #fff;
        width: calc(100% + 0px);
        left: -1px;
        z-index: 100;
        transform: translateY(-8px);
        overflow-x: hidden;
        max-height: 200px;
        overflow-y: auto;
        @include ScrollBar;
        .item {
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.15s linear;
          &:hover {
            background-color: #006cf91f;
          }
          &:active {
            background-color: #4592f80f;
          }
        }
      }
    }

    .btn {
      display: flex;
      justify-content: end;
      width: 100%;
      flex-direction: row;
      margin-top: 40px;
      justify-content: space-between;
      .cancel {
        @include ButtonBlueLight;
        padding: 0 60px;
        width: 400px;
      }
      .save {
        @include ButtonBlue;
        padding: 0 60px;
        width: 400px;
      }
    }
  }
}
