:root {
    --ExampleColor: #f7f7f7;
    --GrenColor: #007AA1;
    --GrenColorHover: #02526B;
    --GrenColorActive: #014356;
    --GrayColorInput: #989898;
    --RedColor:#B20707;
    --GrayColorButtonHover: #1A7D781A;
    --GrayColorButtonActive: #1A7D7840;
}