:root {
    --ExampleColor: #f7f7f7;
    --GrenColor: #007AA1;
    --GrenColorHover: #02526B;
    --GrenColorActive: #014356;
    --GrayColorInput: #989898;
    --GrayColor: #333;
    --RedColor:#B20707;
    --GrayColorButtonHover: #1A7D781A;
    --GrayColorButtonActive: #1A7D7840;
    --TableColorMouse: #0079a14e;
    --TableSelectedTr: #0079a17b;
}