:root {
  --ExampleColor: #f7f7f7;
  --GrenColor: #007aa1;
  --GrenColorHover: #02526b;
  --GrenColorActive: #014356;
  --GrayColorInput: #989898;
  --GrayColor: #333;
  --RedColor: #b20707;
  --GrayColorButtonHover: #1a7d781a;
  --GrayColorButtonActive: #1a7d7840;
  --TableColorMouse: #0079a14e;
  --TableSelectedTr: #0079a17b;
  --bg: #f5f6f7;
  --bg2: #ecf0ff;
  --blue: #007aa1;
  --blueText: #170f49;
}
