.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: 0.1s linear all;
    margin: 10px;
    position: relative;
  
    .functionalTopMenu {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: var(--GrenColor);
      height: 50px;
      .functionalTopMenuInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 50px;
        p {
          margin: 0;
          font-size: 18px;
          margin-left: 5px;
        }
      }
    }
  
    .cardInner {
      margin-top: 50px;
    }
  
    .imageWrapper {
      width: 100%;
      height: 200px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Центрируем изображение */
      }
    }
  
    h3 {
      margin: 15px 0 10px;
      font-size: 22px;
      color: var(--DarkBlue);
    }
  
    p {
      margin: 0 10px 15px;
      color: var(--Gray);
    }
  
    span {
      display: block;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      color: var(--Orange);
    }
  
    button {
      margin: 5px;
      border: none;
      cursor: pointer;
      transition: 0.1s linear all;
      font-size: 16px;
      background-color: var(--GrenColor);
      padding: 2px;
      box-sizing: border-box;
      border-radius: 6px;
  
      img {
        height: 30px;
        width: 30px;
      }
  
      &:hover {
        background-color: var(--GrenColorHover);
        color: #fff;
      }
    }
  
    // Оверлей подтверждения удаления
    .deleteOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
  
      .deleteConfirmation {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
  
        p {
          margin: 0 0 15px;
          font-size: 18px;
          color: #333;
        }
  
        .confirmationButtons {
          display: flex;
          justify-content: space-between;
          gap: 10px;
  
          button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100px;
            transition: 0.2s ease all;
            background-color: var(--GrenColor);
            color: #fff; 
            &:hover {
              background-color: var(--GrenColorHover);
            }
          }
  
          
        }
      }
    }
  }
  