@import "./../../../styles/mixin.scss";

.HeadBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 140px;

  .left_block {
    display: flex;
    width: 412px;
    border: 1px solid #c8d0ce;
    border-radius: 12px;
    padding: 14px 15px;
    margin-right: 40px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      background: none;
      outline: none;
      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  .right_block {
    display: flex;
    flex-direction: row;
    .save {
      @include ButtonBlue();
      padding: 0 40px;
    }
  }
}
